---
layout: default
title: Dominion League Moderators
---
<!-- Team Section -->
    <section id="team" class="bg-light-gray">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="moderator-heading">Dominion League Moderator Team</h2>
                    <h3 class="moderator-subheading text-muted">Season 42</h3>
                </div>
            </div>
            <div class="row mods-centered">
                {% for mod in site.data.moderators %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/moderators/{{ mod.image }}.png" class="img-mod img-responsive img-circle" alt="">
                        <h4>{{ mod.name }}</h4>
                        {% if mod.chair %}
                        <p class="text-muted"><b>{{ mod.chair }} Chair</b></p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4> Contact Us </h4>
                    The Dominion League Moderator team is a group of volunteers that love playing the game and being involved in the Dominion community.
                    <br>
                    <br>
                    Visit our <a href="{{site.baseurl}}/contact.html">contact page</a> for ways to contact the moderators.
                </div>
            </div>

            <div class="spacing-40"></div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4> Previous Moderators </h4>
                Below is a list of all previous League moderators. We thank them for their dedication and contribution in helping make the Dominion League what it is today!
                <div class="spacing"></div>
                  <p>
                    Apostolosoruler,
                    Burning Skull,
                    gloures,
                    assemble me,
                    drsteelhammer,
                    LaLight,
                    Seprix,
                    Anders,
                    GreyEK,
                    irrationalE,
                    Stef,
                    AdamH,
                    A Drowned Kernel,
                    mpsprs,
                    Deadlock39,
                    funkdoc
                  </p>
                </div>
            </div>
    </section>
