---
layout: default
title: Dominion League Moderators
---
<!-- Team Section -->
    <section id="team" class="bg-light-gray">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="moderator-heading">Dominion League Moderator Team</h2>
                    <h3 class="moderator-subheading text-muted">Season {{ site.data.season.number }}</h3>
                </div>
            </div>
            <div class="row mods-centered">
                {% for mod in site.data.moderators %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/moderators/{{ mod.image }}.png" class="img-mod img-responsive img-circle" alt="">
                        <h4>{{ mod.name }}</h4>
                        {% if mod.chair %}
                        <p class="text-muted"><b>{{ mod.chair }} Chair</b></p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4> About the Team </h4>
                    <p>The Dominion League Moderator team is a group of volunteers that love playing the game and being involved in the Dominion community.</p>
                    <p>If you are interested in joining the moderator team, applications are always open. <a href="{{site.baseurl}}/moderators/apply">Apply here</a>.</p>
                    <p>Visit our <a href="{{site.baseurl}}/contact.html">contact page</a> for ways to contact the moderators.</p>
                </div>
            </div>

            <div class="spacing-40"></div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4> Previous Moderators </h4>
                Below is a chart showing all former (and current) League moderators and their tenures. We thank them for their dedication and contribution in helping make the Dominion League what it is today, with a special thanks to Stef for founding the league and truffles for creating this website!
                <div class="spacing"></div>
                </div>
            </div>
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
				<div id="widthcheck"><!-- I need this for determining render width --></div>
				<div id="mod-hist-chart"></div>
				<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
				<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
				<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
				<script type="text/javascript">
					var mods = {{ site.data.mod_history | jsonify }};
					var currentEnd = {{ site.data.season.number }} + 1;
					for (let i = mods.length-1; i >= 0; i--) {
						if (!mods[i].end) {mods[i].end = currentEnd}
					}
					var widthcheck = document.getElementById("widthcheck");
					var modChart = null;
					
					modPlot();
					window.onresize = function() {
						modChart.width(widthcheck.clientWidth - 100);
						modChart.runAsync();
					};
					
					function modPlot() {
						const plotSpec = {
							"height": 800,
							"width": widthcheck.clientWidth - 100,
							"data": {"values": mods},
							"transform": [
								{"calculate":"datum.start*1", "as":"order"},
								{"calculate":"(datum.info == 'Administrator') ? 'admin' : 'no'", "as": "admin"}
							],
							"layer": [
								{
									"mark": "bar",
									"encoding": {
										"y": {
											"field": "Mod",
											"type": "nominal",
											"sort": {"field":"order"},
											"axis": {"title": null, "orient": "right"}
										},
										"x": {
											"field": "start",
											"type": "quantitative",
											"scale": {
												"domain": [1, currentEnd],
												"nice": false
											},
											"axis": {"title": "Season"}
										},
										"x2": {
											"field": "end",
											"scale": {
												"domain": [1, currentEnd],
												"nice": false
											},
										},
										"color": {
											"field": "info",
											"legend": {
												"title": null,
												"orient": "bottom"
											},
											"scale": {
												"domain": ["Former", "Current", "Administrator"],
												"range": ["#4e5ab5", "#3c783d", "#e0d043"]
											}
										},
										"size": {
											"field": "admin",
											"legend": null,
											"scale": {
												"domain": ["no", "admin"],
												"range": ["15", "5"]
											}
										},
										"tooltip": {"field": "Mod"}
									}
								}
							]
						};
						
						vegaEmbed("#mod-hist-chart", plotSpec, {"actions": false}).then(function(res) {modChart = res.view})
					}
				</script>
				</div>
			</div>
    </section>
