---
layout: newsletters
title: Dominion League Posts
---
  <div>
      <div style="padding-left:20px"> <h3>Dominion League Posts</h3> </div>
          {% for post in site.posts %}
            {% if post.path contains 'rules-changelog' %}
            {% else %}
              <div class="content posts-div">
                <p class="posts-info">
                  <span>{{post.date | date: "%B %d, %Y" }}</span>
                  /
                  <span>
                  by
                  <a href="{{site.baseurl}}/moderators.html">{{post.author}}</a>
                  </span>
                </p>
                <h4><a href="{{post.url}}">{{post.title}}</a></h4>
                <h5>{{post.subtitle}}</h5>
                <p>{{ post.content | strip_html | truncatewords: 100 }}</p>
                <div class='spacing'></div>
                <a class="read-more" href="{{post.url}}">Read more...</a>
              </div>
            {% endif %}
        {% endfor %}

      <!--
      {% for post in site.posts %}
        {% if forloop.index > 6 %}
        <div class="content instructions-div">
          <p>
            <span>{{post.date | date: "%B %d, %Y" }}</span>
            /
            <span>
            by
            <a href="{{site.baseurl}}/moderators.html">{{post.author}}</a>
            </span>
            /
            <span>
          </p>
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <h5>{{post.subtitle}}</h5>
          <div class='spacing'></div>
          <a class="button" href="{{post.url}}">Read more...</a>

        </div>

        {% else %}
        <div class="content instructions-div">
          <p>
            <span>{{post.date | date: "%B %d, %Y" }}</span>
            /
            <span>
            by
            <a href="{{site.baseurl}}/moderators.html">{{post.author}}</a>
            </span>
            /
            <span>
          </p>
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <h5>{{post.subtitle}}</h5>
          <p>{{ post.content | strip_html | truncatewords: 100 }}</p>
          <div class='spacing'></div>
          <a class="button" href="{{post.url}}">Read more...</a>

        </div>
        {% endif %}
      {% endfor %}
-->

  </div>


<div class='four spacing'></div>
