  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                      <a href="https://dominion.games">
                        <img src="{{site.baseurl}}/img/icons/vp_token.png" alt="Dominion Games Client" style="width:40px;border:0">
                      </a>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                      <a href="https://discord.gg/666Upcq">
                        <img src="{{site.baseurl}}/img/buttons/discord.png" alt="Dominion Discord" style="width:160px;border:0">
                      </a>
                    </ul>
                </div>
                <!--
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="sign-ups.html">Sign-up!</a>
                        </li>
                    </ul>
                </div>
                -->
            </div>
        </div>
    </footer>
