<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                  <a href="https://dominion.games">
                    <img src="{{site.baseurl}}/img/icons/vp_token.png" alt="Dominion Games Client" style="width:40px;border:0;padding-bottom:7px">
                  </a>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                  <a href="https://discord.gg/vMmmMBu">
                    <img src="{{site.baseurl}}/img/buttons/discord.png" alt="Dominion Discord" style="width:160px;border:0">
                  </a>
                </ul>
            </div>
            <!--
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="sign-ups.html">Sign-up!</a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </div>
</footer>

<script>
  //Scroll to top button
  var mybutton = document.getElementById("scrollToTopBtn");

  // When the user scrolls down 125px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 125 || document.documentElement.scrollTop > 125) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function toTopFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
