body {
    overflow-x: hidden;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 17px;
    /*line-height: 175%;*/
    color: #{{ site.data.template.color.secondary-dark }};
}

p {
    font-family: {{ site.data.template.font.secondary }}
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a:hover,
a:focus,
a:active {
    color: #{{ site.data.template.color.primary }};
}

a {
    color: #{{ site.data.template.color.secondary }};
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
}

blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  font-size: 14px;
  border-left: 5px solid gray;
  background: lightgrey;
}
