---
layout: default
---

<div class="posts-content">
    <p class='info'>
      <span>Last updated: {{ page.date | date: "%B %d, %Y" }}</span>
    </p>
    <h3>{{page.title}}</h3>
    <h5> {{page.subtitle}} </h5>
    {{content}}
</div>


<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.parentNode.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>
