---
layout: newsletters
---

<div class='content'>
    <p class='info'>
      <span>{{page.date | date: "%B %d, %Y" }}</span>
      /
      <span>
        by {{page.author}}
      </span>
      <!--
      <span>
        In
        {% for cat in page.categories %}
          <a href="#">{{cat}}</a>
          {% unless forloop.last %}
              ,
          {% endunless %}
        {% endfor %}
      </span>
      -->
    </p>
    <h3>{{page.title}}</h3>
    <h5> {{page.subtitle}} </h5>
    {{content}}
  </div>
